<!-- app/views/user_mailer/user_approved.html.erb -->
<h1>Your Account Has Been Approved!</h1>
<p>Dear <%= @user.name %>,</p>
<p>Your account has been approved by the admin. You can now log in and access your account.</p>
<p>Thank you!</p>
