<h1>Leave Requests</h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Date</th>
      <th>Reason</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @leave_requests.each do |leave_request| %>
      <tr>
        <td><%= leave_request.id %></td>
        <td><%= leave_request.user.name %></td>
        <td><%= leave_request.leave_date %></td>
        <td><%= leave_request.leave_reason %></td>
        <td>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
