<h1>Leave Request Accepted</h1>
<p>Hello <%= @user.name %>,</p>
<p>Your leave request for <%= @leave_request.leave_date %> has been accepted.</p>
<p>Reason: <%= @leave_request.leave_reason %></p>
<p>Thank you.</p>