h2 {
      margin-top: 50px;
      text-align: center;
    }
    .reset_pwd_form {
      padding: 20px;
      text-align: center;
      border: 2px solid gray;
      margin: 70px auto;
      height: auto;
      border-radius: 10px;
      max-width: 600px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .field {
      padding: 10px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .styled-input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-top: 5px;
    }
    .actions {
      margin-top: 20px;
    }
    .styled-button {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .styled-button:hover {
      background-color: #45a049;
    }

    /* Responsive Design */
    @media (max-width: 768px) {
      .reset_pwd_form {
        margin: 50px 20px;
        width: auto;
      }
    }
    @media (max-width: 480px) {
      h2 {
        font-size: 24px;
      }
      .reset_pwd_form {
        margin: 20px;
        padding: 10px;
      }
      .styled-button {
        width: 100%;
        padding: 12px;
      }
    }